*, html, body {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

body {
}

.wrapper {
}

header {
}

main {
}

article {
}

aside {
}

footer {
}

/* list */

li {
}

a {
}

/* Fonts */

h1 {
}

h2 {
}

p {
}